@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

@theme {
  /* colors*/
  --color-primary: #47b5ff;
  --color-secondary: #1363df;
  --color-light: #dff6ff;
  --color-dark: #06283d;
  --bg-linear-gradient: linear-gradient(
    55.08deg,
    #137bdd 20.31%,
    #4db7ff 72.54%
  );
  /* fonts*/
  --font-cairo: "Cairo", sans-serif;
}
.bg-gradient {
  background: linear-gradient(55.08deg, #137bdd 20.31%, #4db7ff 72.54%);
}
